body{
    background-color:lightgray;
}
.container{
    background-color:springgreen;
    position: absolute;
    border: 1px black solid;
    top: 7% ;
    left: 15%;
    height: 80% ;
    width: 80% ;
   
    
}
nav{
    display:;
    background-color:dimgray;
    padding: 20px;
    color: white;
}
.nav-item{
    list-style-type: none;
    display: inline;
    margin:10px;
    padding: 30px;
    
}
.fot1{
    background-color: white;
    position: absolute;
    top: 20% ;
    left: 15%;
    height: 32% ;
    width: 30% ;
    border: black 2px solid;
    border-radius: rem;

}
#li1{
    text-align: center;
  

}
.img1{
    position: relative;
    width: 125%;
    height: 130px
     ;
}
.fot2{
    background-color: white;
    position: absolute;
    top: 28% ;
    height: 32% ;
    width: 27% ;
    left: 40%;
    border: black 2px solid;
    border-radius: rem;

}
#li2{
    text-align: center;
}
.img2{
    position: relative;
    width: 125%;
    height:130px;
}
.fot3{
    background-color: white;
    position: absolute;
    top: 50% ;
    height: 32% ;
    width: 27% ;
    left: 50%;
    border: black 2px solid;
    border-radius: rem;
}
#li3{
    text-align: center;
}
.img3{
    position: relative;
    width: 125%;
    height: 130px;;
}
.fot4{
    background-color: white;
    position: absolute;
    top: 65% ;
    height: 32% ;
    width: 27% ;
    left: 70%;
    border: black 2px solid;
    border-radius: 0rem;
}
#li4{
    text-align: center;

}
.img4{
    position: relative;
    width: 125% ;
    height: 130px;;
    
}

.img5{
    position:relative;
    width: 80px;
    border-top-right-radius: 15px;
}
.fixed-sidebar{
    border: black 2px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    top: 150px;
    width: 10% ;
    height: 300px;
    
}

ul, li{
    list-style-type: none;
    text-align: center;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
