body{
    background-color: lightgray;
}
.container{
    background-color: lightgreen;
    position: absolute;
    top: 5% ;
    height: 85% ;
    width: 70% ;
    left: 15%;
}
nav{
    background-color: gray;
    padding: 30px;
    color: white;
}
.nav-item{
    list-style-type: none;
    display: inline;
    margin: 70px; 
    padding: 10px;
    
}
.caja1{
    background-color: white;
    position: absolute;
    top: 20% ;
    left: 20%;
    height: 32% ;
    width: 27% ;
    border: black 2px solid;
    border-radius: 1rem;

}
#li1{
    text-align: center;
}
.img1{
    position: relative;
    width: 105% ;
}
.caja2{
    background-color: white;
    position: absolute;
    top: 20% ;
    height: 32% ;
    width: 27% ;
    left: 50%;
    border: black 2px solid;
    border-radius: 1rem;

}
#li2{
    text-align: center;
}
.img2{
    position: relative;
    width: 105%;
}
.caja3{
    background-color: white;
    position: absolute;
    top: 60% ;
    height: 32% ;
    width: 27% ;
    left: 20%;
    border: black 2px solid;
    border-radius: 1rem;
}
#li3{
    text-align: center;
}
.img3{
    position: relative;
    width: 105%;
}
.caja4{
    background-color: white;
    position: absolute;
    top: 60% ;
    height: 32% ;
    width: 27% ;
    left: 50%;
    border: black 2px solid;
    border-radius: 1rem;
}
#li4{
    text-align: center;

}
.img4{
    position: relative;
    width: 95% ;
    
}

.img5{
    position: relative;
    width: 78px;
    border-top-right-radius: 15px;
}
.fixed-sidebar{
    border: black 2px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    top: 150px;
    width: 6% ;
    height: 200px;
    
}

ul, li{
    list-style-type: none;
    text-align: center;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

